<h3> <%= t('message.your_campaigns') %> </h3>

<% if @campaigns.empty? %>
  <h5><%= t('message.no_campaigns') %></h5>
<% end %>

<ul>
<% @campaigns.each do |campaign| %>
  <li><%= link_to campaign.name, campaign_path(campaign) %></li>
<% end %>
</ul>
